body{
    background-image: url("../images/alesia-kazantceva-XLm6-fPwK5Q-unsplash\ 1.png"), url("../images/Rectangle\ 2.png");
    background-size: cover ;
    background-repeat: no-repeat;
    background-blend-mode: hue; 
    
}